 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <a aria-label="User-Oriented Design" target="_blank" href="http://www.olin.edu/academic-life/experience/user-oriented-collaborative-design/"><i class="icon fa fa-users" aria-hidden="true"></i></a>
      <i class="devicon-html5-plain-wordmark"></i>
      <p>Coming out of Olin College of Engineering, I have taken multiple classes focused on user-oriented collaborative design, including adaptive technology.
       Software is nothing without the people who need it, and I strive to make sure that what I create fits the needs of those I create for.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-c-plain colored"></i>
      <p>I have a basis in many different programming languages, including extensive work in Python and Java, a working knowledge of C, C++, and MatLab, and growing familiarity with several others.
       I pick up programming languages quickly and partially for the fun of it, because there is always more to explore and I want to make sure I'm using the right tools for the job at hand.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-ubuntu-plain colored"></i>
      <i class="devicon-heroku-original colored"></i>
      <p>I'm familiar and comfortable with Linux-based environments and have practice with the Git workflow.
       My project-based background has made me familiar with an agile environment and working with teams ranging from two people to eight.
        These projects also have gained me passing familiarity with tools such as Heroku, SQL, and MongoDB, as well as the ability to pick things up rapidly.</p>
    </div>
</div>
