<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Screenshot of a website about chocolate chip cookies" src="{{ "/assets/img/chefstouch_recipe.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Chef's Touch </h3>
    <ul>
      <li> User Oriented Design</li>
      <li> Web App Development</li>
      <li> MongoDB</li>
    </ul>
    <p>A Heroku-based web app for recipes, designed alongside amateur cooks with visual impairments during the second half of a course called Technology, Accessibility, and Design. Developed by a team of three juniors (including me) and a senior.</p>
    <a class="project-link" href="/chefs-touch.html">Chef's Touch</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="A group of students standing behind a chess board with tokens as pieces." src="{{ "/assets/img/wizards-chess-final.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> checkmAIt </h3>
    <ul>
      <li> Python</li>
      <li> Hardware Integration</li>
      <li> Google Cloud Speech</li>
    </ul>
    <p>Inspired by Wizard's Chess as seen in Harry Potter, this hackathon-initiated project integrated the chess AI Stockfish, routing algorithms in Python, speech-to-text with Google Cloud Speech, and a home-made gantry to move the chess pieces according to the player's voice commands seemingly like magic, and then respond with moves of its own.</p>
    <a class="project-link" href="/checkmait.html">checkmAIt</a>
  </div>
  </div>
  <div class="user-projects">
    <div class="images-right">
      <img alt="Picture of Kaitlyn and a professor working on a large red buoy." src="{{ "/assets/img/buoy-work.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> Universal Team Sailing </h3>
      <ul>
        <li> User Oriented Design</li>
        <li> Sensor Integration</li>
        <li> Network Communication</li>
      </ul>
      <p> A system designed alongside SailBlind members and Community Boating Inc. in Boston that integrates sensors and software. Helps blind sailors compete in match races without assistance from a sighted guide. Presented at the OCEANS '17 conference in Aberdeen. </p>
      <a class="project-link" href="/adaptive-sailing.html">Universal Team Sailing</a>
    </div>
  </div>
  <div class="links">
  <a class="site-link" href="/smaller-projects.html">Other Projects</a>
</div>
</div>
